body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(../img/registrar.jpg);
    background-size: cover;
}
.signup
{
    background:rgba(44, 62, 80, 0.7);
	padding:40px;
	width:250px;
	margin:auto;
	margin-top:80px;
	height:510px;
	margin-left:180px;
	margin:0 auto;
	margin-top:90px;
}
form
{
    width: 240px;
    text-align: center;
}
input, select
{
    
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=submit]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=submit]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color: #000;
    
}
::placeholder {
    color:aliceblue;
    opacity: 0.8; /* Firefox */
}

.errores{
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius:10px;
    -webkit-border-radius: 10px;
    background: #fbf22b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000000;
    display: none;
    font-size: 12px;
    margin-top: -40px;
    margin-left: 250px;
    padding: 10px;
    position: absolute;
}
.errores:before{ 
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fbf22b;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
